---
layout: default
---

<section class="index">

{% for post in site.posts  %}
    {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

    {% if forloop.first %}
    <time class="catchy-headline">{{this_year}}</time>
    <ul>
    {% endif %}

    <li>
      <time class="hide-in-mobile details">{{post.date | date: "%b %d"}}</time>
      <h2 class="small inline catchy-headline shift-right">
        <a href="{{site.baseurl}}{{post.url}}">{{ post.title }} <i class="light-gray fa fa-chevron-right" aria-hidden="true"></i></a>
      </h2>
    </li>

    {% if forloop.last %}
    </ul>
    {% else %}
        {% if this_year != next_year %}
        </ul>
        <time class="catchy-headline">{{next_year}}</time>
        <ul>
        {% endif %}
    {% endif %}
{% endfor %}

</section>
