<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    <header>
      <a href="{{site.baseurl}}/">
        <img class="logo-image" alt="{{site.title}} logo" src="{{site.baseurl}}/{{site.header.logo-img}}">
        <img class="main-header-title" alt="{{site.title}}" src="{{site.baseurl}}/{{site.header.title-img}}">
        <h1 class="hidden">{{site.title}}</h1>
        <h2>{{site.header.subtitle}}</h2>
      </a>
    </header>

    <nav>
      {% for item in site.data.menu %}
        <a class="{% cycle 'color-1', 'color-2', 'color-3', 'color-4' %}" href="{{site.baseurl}}/{{item.url}}">
          {{item.name}}</a>
      {% endfor %}
    </nav>


    <main>
      {{ content }}
    </main>

    <!-- <section class="see-all-posts" >
      <a href="{{site.archive}}">See all posts <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
    </section> -->

    <section class="meaningful-block">
      <a class="big follow-up" href="{{site.baseurl}}/{{site.archive}}">{{site.localization.see-all-posts}} <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
    </section>

    <footer>

      <nav class="footer-menu" >
        {% for item in site.data.footer %}
          {% if item.url contains "http" %}
            <a href="{{item.url}}">{{item.name}}</a>
          {% else %}
            <a href="{{site.baseurl}}/{{item.url}}">{{item.name}}</a>
          {% endif %}
        {% endfor %}
      </nav>

      <section class="footer-script-note">
        {{ site.footer.script-note }}
      </section>

    </footer>

  </body>

</html>
