---
layout: default
---

<!-- ====================================== -->
{% if site.landing == "index" %}

<ul class="index wrapper">
{% for post in site.posts limit:site.post-per-page %}
<li>

  <h2 class="header-font big-font-size line-height-1-2">
    <a class="dark-link no-decoration" href="{{post.url}}">{{ post.title }}</a>
  </h2>

  <div class="light-font min-font-size script-padding-top">
    by <a href="{{site.baseurl}}/about">{{post.author | capitalize}}</a>,
    {{post.date | date: "%B %d %Y"}}
  </div>

  <h3 class="summary-font regular-font-size line-height-1-4 script-padding-top light-gray">
    {{ post.summary }}
  </h3>

  <div class="summary-font regular-font-size light-gray uppercase script-padding-top" >
    <a class="no-decoration" href="{{post.url}}">
      Read more <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </a>
  </div>

</li>
{% endfor %}
</ul>


<!-- ====================================== -->
{% elsif site.landing == "single" %}

This is the last post

<!-- ====================================== -->
{% elsif site.landing == "page" %}

This is a page

{% endif %}
