---
layout: default
---

{% if page.image %}
<figure>
  <img alt="{{page.title}}" src="{{site.baseurl}}{{page.image}}" />
  <figcaption>{{page.caption}}</figcaption>
</figure>
{% endif %}

<header>

  <h1>{{ page.title }}</h1>

  {% if page.author %}
  <section class="author">
    by <a href="{{site.baseurl}}/about">{{page.author | capitalize}}</a>,
    <time datetime="{{page.date}}">{{page.date | date: "%B %d %Y"}}</time>
  </section>
  {% endif %}

  {% if page.summary %}
  <section class="summary">{{ page.summary }}</section>
  {% endif %}

</header>

<article>

  {{ content }}

  <figure class="page-end-logo">
    <img alt="{{site.title}}" src="{{site.baseurl}}/{{site.header.logo-img}}" />
  </figure>

</article>

  <!-- TODO -->

  {% if site.upcoming-events %}
  <section class="upcoming-events">
    <header>Upcoming events</header>
    {% for event in site.events %}
      <h2>{{event.title}}</h2>
    {% endfor %}
  </section>
  {% endif %}

  {% if page.read-more %}
  <section class="read-more">
    <header>Read more</header>
    {% for post in site.posts %}
      <h2>{{post.title}}</h2>
    {% endfor %}
  </section>
  {% endif %}
